<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/users/register">
      <input placeholder="Email" name="email" />
      <input placeholder="Password" name="password" />
      <button>SUBMIT</button>
    </form>
  </body>
</html>
